.messageMain{
    min-height: 90vh;
    width: 80vw;
    padding: 2em;
    margin-top: 45px;
    margin-bottom: 20px;
    overflow-y: auto;
}
.message{
    display: flex;
    flex-direction:column;
    margin-top: 10px;
}
.messageTop{
    display: flex;
}
.messageText{
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(243, 241, 241);
    color: black;
    max-width: 300px;
}
.messageButton{
    font-size: 12px;
    margin-top: 10px;
}
.message.own{
    align-items: flex-end;
}
.message.own .messageText{
    background-color: black;
    color: wheat;
}
.typeMessage{
    height: 3vh;
    width: 80%;
    padding: 0.4em;
    border-radius: 12px;
    outline: none;
}
.messageBottom{
    margin-top: -10px;
}
.typeMessageDiv{
    height: 5vh;
    width: 100vw;
    display: flex;
    /* flex:2 1;    */
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0px;
}
.btn1{
    height: 5vh;
    width: 80px;
    background: black;
    color:wheat;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    border: 1px solid black;
    margin-left: 10px;
  }